apiVersion: apps/v1
kind: Deployment
metadata:
  name: pathfinder-deployment
  namespace: "2401019"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pathfinder
  template:
    metadata:
      labels:
        app: pathfinder
    spec:
      terminationGracePeriodSeconds: 30   # <-- Grace time before force kill
      imagePullSecrets:
        - name: nexus-secret
      containers:
        - name: pathfinder
          image: 127.0.0.1:30085/my-repository/pathfinder:latest
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 5"]   # <-- Delay before shutdown
